html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav_bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav_bar{
    margin: 10px 0 10px 0;
}

.nav_bar img{
    height: 60%;
    transform: scale(1.2);
}

#works, #about, #contact:hover{
    cursor: pointer;
}

.logo{
    height: 100%;
}

.search{
    height: 100%;
    display: flex;
    align-items: center;
}

.search img:hover{
    cursor: pointer;
}

.search_box{
    border-radius: 8%/50%;
    border: 1px rgb(47, 96, 136) solid;
    transform: scale(1.1);
    text-align: center;
}

::placeholder{
    opacity: 0.5;
  }

.main{
    position: relative;
    overflow: hidden;
}

.mid{
    display: inline-block;
}

#train{
    position: absolute;
    left: -350px;
}

#airplane{
    position: absolute;
    right: -350px;
}

.footer{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.footer img{
    transform: scale(1.2);
    margin: 20px;
}

.footer img:hover{
    cursor: pointer;
}

.footer_item{
    width: 33%;
}

.roll_bar{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 41%;
    margin: 5px;
    background: url(./src/below-bar-01.png) center/contain;
    background-repeat: no-repeat;
}

#btn{
    padding: 0;
    margin: 5px;
}